@charset "UTF-8";

@font-face{
    font-family: 'Kanit';
    src: url('Kanit-Black.ttf') format('ttf')

}


@media (min-width: 769px){
    main>div{
        margin: 2.5em 10em 3em;
        padding: 1em;
    }
}

@media (max-width: 768px){
    main>div{
        margin: 2.5em auto 3em;
        padding: auto;
}


    
}
.centered{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
}
nav{
    position:fixed;
    top: 0px;
    width: 100%;
    background:coral;
    z-index: 1;
}

:target::before {
    content: "";
    display: block;
    height: 50px;
  } 

  @media (max-width: 420px){
    nav>ul>li{
        font-size: small;
    }
    code {
        font-size: small;
    }
}
@media (max-width: 342px){
    nav>ul>li{
        font-size: x-small;
    }
    code {
        font-size: x-small;
    }
    
}

@media (max-width: 292px){
    nav>ul>li{
        font-size: xx-small;
    }
    code {
        font-size: xx-small;
    }
}
nav>ul{
    display:flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-inline-end: 1.5em;
}

@media (max-width: 280px){
    main{
        font-size: small;
    }
    h1, h2, h3{
        font-size: small;
    }
    main>div>ul, main>div>ol{
        padding-inline-start: 10%;
    }
} 

@media (max-width: 270px){
    nav>ul{
        justify-content: space-between;
        padding-left: 5%;
    }
}

@media (max-width: 240px){
    nav>ul{
        display:inline;
        padding-left: 5%;
    }
}

nav>ul>li{
    display: inline;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}
 


h1 {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-weight: 800;
    text-shadow: #FC0 1px 0 10px;
    background-color: darkslateblue;
    margin-block-end: 0;
}

.contacts-foto{
    display:flex;
    justify-content: space-evenly;
}
.contacts-foto>.contacts-foto__contacts{
    display:inline-block;
}


main{
    background-color: rgb(97, 97, 97);
    font-family: system-ui;
}
main>div:first-of-type{
    margin-top: auto;
}

main>div:nth-of-type(even){
    background: #c4fab5 ;
}
main>div:nth-of-type(odd){
    background: #91fc74 ;
}
main>div:last-of-type{
    margin-bottom: auto;
}
/* Code block */
code {
    background:#1c1d21;
    color:#c0c5ce;
    display: block;
    padding: 1em;
    font-family: Consolas, Monaco, monospace;
    overflow-x: auto;
   }

.hl-comment {
    color:#b6b18b
   }
.hl-params{
    color:#e7ce56
   }
.hl-index{
    color: orange;
} 
.hl-subst {
    color:#4fb4d7
   }
.hl-title {
    color:#78bb65
   }
.hl-keyword {
    color:#b45ea4
   }

   /* Footer */
footer {
    background-color: darkslateblue;
    padding-block-start: 1em;
    padding-block-end: 1em;
}
img#rsschool-logo{
    max-height: 60px;
    height: auto;
    width: 8em;
    display: block;
  margin-left: auto;
  margin-right: auto;
  
}
img#github-logo {
    max-height: 1.5em;
    height: auto;
    width: auto;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

footer>p{
    text-align: center;
}